<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countrys</key>
	<array>
		<dict>
			<key>chinese</key>
			<string>韩国</string>
			<key>english</key>
			<string>North Korea</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>俄罗斯</string>
			<key>english</key>
			<string>Russia </string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>安哥拉</string>
			<key>english</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿富汗</string>
			<key>english</key>
			<string>Afghanistan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿尔及利亚</string>
			<key>english</key>
			<string>Algeria</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>安道尔共和国 </string>
			<key>english</key>
			<string>Andorra</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿根廷</string>
			<key>english</key>
			<string>Argentina</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>亚美尼亚</string>
			<key>english</key>
			<string>Armenia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>澳大利亚</string>
			<key>english</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>奥地利</string>
			<key>english</key>
			<string>Austria</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿塞拜疆</string>
			<key>english</key>
			<string>Azerbaijan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>巴林</string>
			<key>english</key>
			<string>Bahrain</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>比利时</string>
			<key>english</key>
			<string>Belgium</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>伯利兹</string>
			<key>english</key>
			<string>Belize</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>玻利维亚</string>
			<key>english</key>
			<string>Bolivia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>巴西</string>
			<key>english</key>
			<string>Brazil</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>文莱</string>
			<key>english</key>
			<string>Brunei</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>保加利亚</string>
			<key>english</key>
			<string>Bulgaria</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>缅甸</string>
			<key>english</key>
			<string>Burma</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>加拿大</string>
			<key>english</key>
			<string>Canada</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>智利</string>
			<key>english</key>
			<string>Chile</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>古巴</string>
			<key>english</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>塞浦路斯</string>
			<key>english</key>
			<string>Cyprus</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>丹麦</string>
			<key>english</key>
			<string>Denmark</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>埃及</string>
			<key>english</key>
			<string>Egypt</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>芬兰</string>
			<key>english</key>
			<string>Finland</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>法国</string>
			<key>english</key>
			<string>France</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>格鲁吉亚</string>
			<key>english</key>
			<string>Georgia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>德国</string>
			<key>english</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>希腊</string>
			<key>english</key>
			<string>Greece</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>洪都拉斯</string>
			<key>english</key>
			<string>Honduras</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>冰岛</string>
			<key>english</key>
			<string>Iceland</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>印度</string>
			<key>english</key>
			<string>India</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>印度尼西亚</string>
			<key>english</key>
			<string>Indonesia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>伊朗</string>
			<key>english</key>
			<string>Iran</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>伊拉克</string>
			<key>english</key>
			<string>Iraq</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>爱尔兰</string>
			<key>english</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>以色列</string>
			<key>english</key>
			<string>Israel</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>意大利</string>
			<key>english</key>
			<string>Italy</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>日本</string>
			<key>english</key>
			<string>Japan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>约旦</string>
			<key>english</key>
			<string>Jordan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>科威特</string>
			<key>english</key>
			<string>Kuwait</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>吉尔吉斯坦</string>
			<key>english</key>
			<string>Kyrgyzstan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>老挝</string>
			<key>english</key>
			<string>Laos</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>拉脱维亚</string>
			<key>english</key>
			<string>Latvia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>黎巴嫩</string>
			<key>english</key>
			<string>Lebanon</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>利比亚</string>
			<key>english</key>
			<string>Libya</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>列支敦士登</string>
			<key>english</key>
			<string>Liechtenstein</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>立陶宛</string>
			<key>english</key>
			<string>Lithuania</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>卢森堡</string>
			<key>english</key>
			<string>Luxembourg</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>马达加斯加</string>
			<key>english</key>
			<string>Madagascar</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>马来西亚</string>
			<key>english</key>
			<string>Malaysia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>马尔代夫</string>
			<key>english</key>
			<string>Maldives</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>马里</string>
			<key>english</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>马耳他</string>
			<key>english</key>
			<string>Malta</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>毛里求斯</string>
			<key>english</key>
			<string>Mauritius</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>墨西哥</string>
			<key>english</key>
			<string>Mexico</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>摩尔多瓦</string>
			<key>english</key>
			<string>Moldova</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>摩纳哥</string>
			<key>english</key>
			<string>Monaco</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>蒙古</string>
			<key>english</key>
			<string>Mongolia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>摩洛哥</string>
			<key>english</key>
			<string>Morocco</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>莫桑比克</string>
			<key>english</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>瑙鲁</string>
			<key>english</key>
			<string>Nauru</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>尼泊尔</string>
			<key>english</key>
			<string>Nepal</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>新西兰</string>
			<key>english</key>
			<string>New Zealand</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>尼加拉瓜</string>
			<key>english</key>
			<string>Nicaragua</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>尼日尔</string>
			<key>english</key>
			<string>Niger</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>尼日利亚</string>
			<key>english</key>
			<string>Nigeria</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>朝鲜</string>
			<key>english</key>
			<string>North Korea</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>挪威</string>
			<key>english</key>
			<string>Norway</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿曼</string>
			<key>english</key>
			<string>Oman</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>巴基斯坦</string>
			<key>english</key>
			<string>Pakistan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>秘鲁</string>
			<key>english</key>
			<string>Peru</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>菲律宾</string>
			<key>english</key>
			<string>Philippines</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>波兰</string>
			<key>english</key>
			<string>Poland</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>葡萄牙</string>
			<key>english</key>
			<string>Portugal</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>卡塔尔</string>
			<key>english</key>
			<string>Qatar</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>罗马尼亚</string>
			<key>english</key>
			<string>Romania</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>圣马力诺</string>
			<key>english</key>
			<string>San Marino</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>沙特阿拉伯</string>
			<key>english</key>
			<string>Saudi Arabia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>新加坡</string>
			<key>english</key>
			<string>Singapore</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>斯洛伐克</string>
			<key>english</key>
			<string>Slovakia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>斯洛文尼亚</string>
			<key>english</key>
			<string>Slovenia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>南非</string>
			<key>english</key>
			<string>South Africa</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>西班牙</string>
			<key>english</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>斯里兰卡</string>
			<key>english</key>
			<string>Sri Lanka</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>瑞典</string>
			<key>english</key>
			<string>Sweden</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>瑞士</string>
			<key>english</key>
			<string>Switzerland</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>叙利亚</string>
			<key>english</key>
			<string>Syria</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>坦桑尼亚</string>
			<key>english</key>
			<string>Tanzania</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>泰国</string>
			<key>english</key>
			<string>Thailand</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>突尼斯</string>
			<key>english</key>
			<string>Tunisia</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>土耳其</string>
			<key>english</key>
			<string>Turkey</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>土库曼斯坦</string>
			<key>english</key>
			<string>Turkmenistan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>乌克兰</string>
			<key>english</key>
			<string>Ukraine</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>阿拉伯联合酋长国</string>
			<key>english</key>
			<string>United Arab Emirates</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>英国</string>
			<key>english</key>
			<string>United Kingdom</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>美国</string>
			<key>english</key>
			<string>United States</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>乌兹别克斯坦</string>
			<key>english</key>
			<string>Uzbekistan</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>委内瑞拉</string>
			<key>english</key>
			<string>Venezuela</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>越南</string>
			<key>english</key>
			<string>Vietnam</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>也门</string>
			<key>english</key>
			<string>Yemen</string>
		</dict>
		<dict>
			<key>chinese</key>
			<string>赞比亚</string>
			<key>english</key>
			<string>Zambia</string>
		</dict>
	</array>
</dict>
</plist>
