<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>city_info</key>
	<array>
		<dict>
			<key>city</key>
			<string>北京</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101010100</string>
			<key>lat</key>
			<string>39.904000</string>
			<key>lon</key>
			<string>116.391000</string>
			<key>prov</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>city</key>
			<string>上海</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101020100</string>
			<key>lat</key>
			<string>31.213000</string>
			<key>lon</key>
			<string>121.445000</string>
			<key>prov</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>city</key>
			<string>广州</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101280101</string>
			<key>lat</key>
			<string>23.108000</string>
			<key>lon</key>
			<string>113.265000</string>
			<key>prov</key>
			<string>广东</string>
		</dict>
		<dict>
			<key>city</key>
			<string>深圳</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101280601</string>
			<key>lat</key>
			<string>22.544000</string>
			<key>lon</key>
			<string>114.109000</string>
			<key>prov</key>
			<string>广东</string>
		</dict>
		<dict>
			<key>city</key>
			<string>天津</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101030100</string>
			<key>lat</key>
			<string>39.117000</string>
			<key>lon</key>
			<string>117.246000</string>
			<key>prov</key>
			<string>天津</string>
		</dict>
		<dict>
			<key>city</key>
			<string>香港</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101320101</string>
			<key>lat</key>
			<string>22.307000</string>
			<key>lon</key>
			<string>114.177000</string>
			<key>prov</key>
			<string>香港</string>
		</dict>
		<dict>
			<key>city</key>
			<string>哈尔滨</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101050101</string>
			<key>lat</key>
			<string>45.758000</string>
			<key>lon</key>
			<string>126.645000</string>
			<key>prov</key>
			<string>黑龙江</string>
		</dict>
		<dict>
			<key>city</key>
			<string>沈阳</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101070101</string>
			<key>lat</key>
			<string>41.799000</string>
			<key>lon</key>
			<string>123.418000</string>
			<key>prov</key>
			<string>辽宁</string>
		</dict>
		<dict>
			<key>city</key>
			<string>石家庄</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101090101</string>
			<key>lat</key>
			<string>38.042000</string>
			<key>lon</key>
			<string>114.498000</string>
			<key>prov</key>
			<string>河北</string>
		</dict>
		<dict>
			<key>city</key>
			<string>郑州</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101180101</string>
			<key>lat</key>
			<string>34.758000</string>
			<key>lon</key>
			<string>113.641000</string>
			<key>prov</key>
			<string>河南</string>
		</dict>
		<dict>
			<key>city</key>
			<string>南京</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101190101</string>
			<key>lat</key>
			<string>32.048000</string>
			<key>lon</key>
			<string>118.769000</string>
			<key>prov</key>
			<string>江苏</string>
		</dict>
		<dict>
			<key>city</key>
			<string>杭州</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101210101</string>
			<key>lat</key>
			<string>30.319000</string>
			<key>lon</key>
			<string>120.165000</string>
			<key>prov</key>
			<string>浙江</string>
		</dict>
		<dict>
			<key>city</key>
			<string>南昌</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101240101</string>
			<key>lat</key>
			<string>28.671000</string>
			<key>lon</key>
			<string>115.889000</string>
			<key>prov</key>
			<string>江西</string>
		</dict>
		<dict>
			<key>city</key>
			<string>武汉</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101200101</string>
			<key>lat</key>
			<string>30.573000</string>
			<key>lon</key>
			<string>114.279000</string>
			<key>prov</key>
			<string>湖北</string>
		</dict>
		<dict>
			<key>city</key>
			<string>桂林</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101300501</string>
			<key>lat</key>
			<string>25.281000</string>
			<key>lon</key>
			<string>110.277000</string>
			<key>prov</key>
			<string>广西</string>
		</dict>
		<dict>
			<key>city</key>
			<string>成都</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101270101</string>
			<key>lat</key>
			<string>30.670000</string>
			<key>lon</key>
			<string>104.071000</string>
			<key>prov</key>
			<string>四川</string>
		</dict>
		<dict>
			<key>city</key>
			<string>西安</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101110101</string>
			<key>lat</key>
			<string>34.285000</string>
			<key>lon</key>
			<string>108.969000</string>
			<key>prov</key>
			<string>陕西</string>
		</dict>
		<dict>
			<key>city</key>
			<string>兰州</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101160101</string>
			<key>lat</key>
			<string>36.068000</string>
			<key>lon</key>
			<string>103.751000</string>
			<key>prov</key>
			<string>甘肃</string>
		</dict>
		<dict>
			<key>city</key>
			<string>西宁</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101150101</string>
			<key>lat</key>
			<string>36.621000</string>
			<key>lon</key>
			<string>101.778000</string>
			<key>prov</key>
			<string>青海</string>
		</dict>
		<dict>
			<key>city</key>
			<string>乌鲁木齐</string>
			<key>cnty</key>
			<string>中国</string>
			<key>id</key>
			<string>CN101130101</string>
			<key>lat</key>
			<string>43.781000</string>
			<key>lon</key>
			<string>87.585000</string>
			<key>prov</key>
			<string>新疆</string>
		</dict>
	</array>
</dict>
</plist>
